.topheader {
  position: static;
  background-color: #fcf8fc;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo img {
  height: 100px;
  width: auto;
  margin-right: -50px;
  margin-bottom: -15px;
  margin-top: -20px;
}

.logo h1 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  color: #482983;
  margin: 0;
  margin-left: -20px;
}

.menu-horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
}

.menu-horizontal li a {
  display: block;
  text-decoration: none;
  color: #000000;
  font-family: "Poppins", sans-serif;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: #000000;


}

.btn-sos {
  background-color: #f0536b;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  text-decoration: none;
  margin-left: 100px;
}

.btn-ingresar {
  background-color: #482983;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  text-decoration: none;
}

.btn-ingresar::after {
  content: "›";
  margin-left: 8px;
  font-size: 16px;
}

.menu-horizontal li a:hover {
  color: white;
  background-color: black;
}

.btn-cuenta {
  background-color: #482983;
  border-radius: 20px;
  text-decoration: none;
  margin-right: 50px;
  white-space: nowrap;
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

.btn-cuenta::after {
  content: "›";
  margin-left: 8px;
  font-size: 16px;
}