.topheader {
  position: static;
  background-color: #fcf8fc;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  box-sizing: border-box;
}

.contenedor-topheader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px; /* evita que se estire demasiado */
  margin: 0 auto; /* centra el contenido horizontalmente */
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo img {
  height: 100px;
  width: auto;
  margin-right: 5px;
}

.logo h1 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  color: #482983;
  margin: 0;
  margin-left:-70px;
}

.menu-horizontal {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.menu-horizontal li a {
  display: block;
  text-decoration: none;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.btn-sos {
  background-color: #f0536b;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  text-decoration: none;
}

.btn-ingresar {
  background-color: #482983;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  text-decoration: none;
}

.btn-ingresar::after {
  content: "›";
  margin-left: 8px;
  font-size: 16px;
}

.menu-horizontal li a:hover {
  color: white;
  background-color: black;
}

.btn-cuenta {
  background-color: #482983;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  text-decoration: none;
}

.btn-cuenta::after {
  content: "›";
  margin-left: 8px;
  font-size: 16px;
}