
/*PANTALLA INICIO SESION*/
.seccion-inicioSesion {
  background-image: url("../img/fondo-hablar.png");
  background-size: cover;
  background-position: center;
  padding: 80px 40px;
  min-height: 100vh;
  align-items: center;
}

.inicioSesion-titulo{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins',sans-serif;
  color: white;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 100px;
}

.cards{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.cards a{
  text-decoration: none;
  color: inherit;
}

.card {
  display: flex;
  background-color: white;
  border-radius: 10px;
  width: 500px;
  height: 180px;
  padding: 20px;
  text-align: left;
  font-family: "Poppins", sans-serif;
}


.card-icono {
  border-radius: 12px;
  padding: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.card-icono img {
  width: 80px;
  height: 80px;
}

.card-text h3 {
  margin: 0 0 6px;
  font-size: 24px;
  font-weight: 700;
  color: black;
}

.card-text p {
  margin: 0;
  font-size: 12px;
  color: #555555;
}

.form-imagen{
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 10px;
}

.form{
  width: 300px;
  background-color: white;
  padding: 20px;
  height: 420px;
  border-radius: 10px;
}

.titulo{
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  font-family: 'Poppins',sans-serif;
}

.titulo input{
  border-radius: 10px;
  border: 1px solid #482983;
  padding: 8px;
}

.terminos{
  padding: 20px 0px;
  font-size: 10px;
}
