
/*Seccion Servicios*/
.seccion-servicios {
  padding-top: 6rem;
  background-color: #482983;
}

.seccion-servicios h2 {
  position: relative;
  color: #ffffff;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 64px;
  font-weight: 600;
  line-height: 75px;
  bottom: 7rem;
  padding-left: 4rem;
}

.servicios-contenido {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: -130px;
}

.servicio1 {
  flex: 1;
  height: 692px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url("img/servicio-ayuda.png");
}

.servicio1-contenido {
  background-color: #ffffff;
  width: 100%;
  height: 23%;
  padding: 10px;
  text-align: left;
  justify-content: flex-start;
  margin-right: 8rem;
}

.servicio1-texto {
  position: relative;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #39225A;
  margin-left: 1.5rem;
  margin-top: -1rem;
}

.servicio1-boton {
  background-color: #DDCDE9;
  color: #68459F;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  position: relative;
  margin-left: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  top: 0.5rem;
}

.servicio2 {
  flex: 1;
  height: 692px;
  background-image: url("img/servicio-acompañamiento.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.servicio2-contenido {
  background-color: #ffffff;
  width: 100%;
  height: 23%;
  padding: 10px;
  text-align: left;
  justify-content: flex-start;
  margin-right: 8rem;
}

.servicio2-texto {
  position: relative;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #39225A;
  margin-left: 1.5rem;
  margin-top: -1rem;
}

.servicio2-boton {
  background-color: #DDCDE9;
  color: #68459F;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  position: relative;
  margin-left: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  top: 0.5rem;
}

/*Seccion servicio-ayuda*/
.seccion-servicio-ayuda {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.servicio-ayuda-titulo {
  padding-top: 13rem;
  height: 100%;
  width: auto;
  background-image: url(img/servicio-acompañamiento.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
}

.seccion-servicio-ayuda h2 {
  position: relative;
  color: #ffffff;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 64px;
  font-weight: 600;
  padding-left: 4rem;
  bottom: 13rem;
}

.servicio-ayuda-explicacion {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #482983;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.servicio-ayuda-explicacion-texto-izquierda {
  color: #ffffff;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  margin-left: 20rem;
  margin-top: 8rem;
}

.servicio-ayuda-explicacion-texto-derecha {
  background-color: #ffffff;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: justify;
  display: inline-block;
  margin-right: 20rem;
  padding-left: 10rem;
  padding-bottom: 5rem;
  padding-right: 10rem;
  padding-top: 5rem;
}

/*Seccion servicio-acompañamiento*/
.seccion-servicio-acompañamiento {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.servicio-acompañamiento-titulo {
  padding-top: 13rem;
  height: 100%;
  width: auto;
  background-image: url(img/servicio-ayuda.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
}

.seccion-servicio-acompañamiento h2 {
  position: relative;
  color: #ffffff;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 64px;
  font-weight: 600;
  padding-left: 4rem;
  bottom: 13rem;
}

.servicio-acompañamiento-explicacion {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #482983;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.servicio-acompañamiento-explicacion-texto-izquierda {
  color: #ffffff;
  justify-content: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  margin-left: 20rem;
  margin-top: 8rem;
}

.servicio-acompañamiento-explicacion-texto-derecha {
  background-color: #ffffff;
  justify-content: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: justify;
  display: inline-block;
  margin-right: 20rem;
  padding-left: 10rem;
  padding-bottom: 5rem;
  padding-right: 10rem;
  padding-top: 5rem;
}


